@model TolokaStudio.Models.EmployeeEditModel
@using ViewRes.Home
@using ViewRes.Store
<script src="@Url.Content("~/Scripts/jquery/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/sumkaScripts/create_employee.js")" type="text/javascript"></script>
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <div class="row">
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.HtmlBanner))
                <div class="span6">
                    @Html.LabelFor(model => model.FirstName)
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "required" })
                    @Html.LabelFor(model => model.LastName)
                    @Html.EditorFor(model => model.LastName, new { @class = "storecreatefield" })
                    @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "required" })
                    @Html.LabelFor(model => model.Email)
                    @Html.EditorFor(model => model.Email, new { @class = "storecreatefield" })
                    @Html.ValidationMessageFor(model => model.Email, null, new { @class = "required" })
                    @Html.HiddenFor(model => model.ImagePath)
                    @Html.HiddenFor(model => model.Id)
                </div>
                <div class="span10">
                    <iframe id="templatesrc" name="templatesrc" src="/Store/ImageUpload" frameborder="0"
                        style="float: left; width: 400px; height: 320px"></iframe>
                    @Html.ValidationMessageFor(model => model.ImagePath, null, new { @class = "required" })
                </div>
            </div>
            <div class="row">
                @Html.ActionLink(@Store.Add_Product, "Create", "Product", new { id = Model.Id }, null)
            </div>
            <div class="row">
                @if (Model.Products != null)
                {
                    foreach (var item in Model.Products)
                    {
                    <div class="row">
                        @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.HtmlBanner))
                        <div class="span4 offset1">
                            @Html.ActionLink(@Store.Edit_Product, "EditProduct", new { id = item.Id })
                            @Html.ActionLink(@Store.Delete_Product, "DeleteProduct", new { id = item.Id })
                        </div>
                    </div>
                   
                    }
                }
            </div>
            <div class="row">
                @Html.ActionLink("Редагувати сторінку профілю", "EditDetails", new { id = Model.Id })
            </div>
            <div class="row">
                <input type="submit" value="@Home.Save" />
            </div>
        </fieldset>
    }
</div>
<script type="text/javascript">
//<![CDATA[
    $(document).ready(function () {
        $('#templatesrc').load(function () {
            EmployeeCreator.init();
        });
    });
    
//]]>
</script>
