@model Core.Data.Entities.Store
@{
    ViewBag.Title = "Details";
}
<h2>
    Details</h2>
<fieldset>
    <legend>Service</legend>
    <div class="display-label">
        Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">
        HtmlBanner</div>
    @Html.DisplayTextFor(model => model.HtmlBanner)


    @foreach (var item in Model.Products)
    {
    
        <div class="display-label">
            Name</div>
        <div class="display-field">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        @Html.DisplayTextFor(modelItem => item.HtmlBanner)
       
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
